* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background: #f5f5f5;
}
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 100%;
}
.leftDiv {
  width: 45%;
  position: relative;
}
.leftDivBanner img {
  width: 100%;
}
.leftDivInner {
  display: flex;
  flex-direction: column;
  gap: 182px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
h1.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #ffffff;
}
.commonFormBtn {
  padding: 20px 0;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.396429px;
  color: #ffffff;
  text-transform: uppercase;
  background: #132eb1;
  border: none;
  margin-top: 41px;
  cursor: pointer;
}
/* right side div */
.rightDiv {
  width: calc(100% - 45%);
  height: 100%;
  padding: 50px 100px 100px 100px;
}
.formStepheadBlock {
  display: flex;
  gap: 15px;
}
.opcity {
  opacity: 0.3;
}

form.commonForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.headingFlex {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

h3.formStepHead {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  color: #0c1331;
}

p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #0c1331;
}
.progressBar {
  display: flex;
  gap: 15px;
  padding: 42px 0px 42px 0;
}
.progressBar span.bar {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #0965ff;
}
input {
  width: 100%;
  padding: 16px 0px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  outline: none;
}
input::placeholder {
  color: #0c1331;
  opacity: 0.5;
}
/* .error{
    display: none;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

.error .borderRed {
  width: 100%;
  height: 1.5px;
  background-color: red;
  display: inline-block;
  position: relative;
  top: -34px;
}
.practiceAddBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
}

.practiceAddBlock::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #0966ff;
  top: 55px;
}
.practiceBtnFlex {
  display: flex;
  gap: 20px;
}
.counterDivFlex {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
span.placeholder {
  font-size: 14px;
  color: #0c1331;
  opacity: 0.5;
}
button.practiceBtn {
  font-size: 25px;
  width: 43px;
  height: 43px;
  color: #0966ff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* Back to home page */
.home.ng-scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backToHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 20px 10px;
  width: 100%;
}
.backToHomePage .brand {
  margin-bottom: 73px;
}

.backToHomePage .circleImg {
  margin-bottom: 30px;
}

h2.heading2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  color: #0c1331;
}
p.marginTop {
  margin-top: 30px;
}
.backToHomePage button.commonFormBtn {
  width: 277px;
}

@media (max-width: 1155px) {
  h1.heading {
    font-size: 44px;
    line-height: 50px;
  }
  .rightDiv {
    padding: 50px 50px 100px 50px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
  }
  .headingFlex {
    gap: 6px;
  }
  .progressBar {
    padding: 30px 0px 30px 0;
  }
}
@media (max-width: 767px) {
  .rightDiv {
    padding: 50px 20px 50px 20px;
  }
  h1.heading {
    font-size: 35px;
    line-height: 40px;
  }
  .leftDiv {
    width: 100%;
  }
  .container {
    width: 100%;
    flex-direction: column;
  }
  .rightDiv {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .leftDivInner {
    gap: 50px;
    text-align: center;
  }
  .progressBar {
    padding: 20px 0px 20px 0;
  }
}
