@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #ffffff;
  --parimeryColor: #fff;
  --textColor: #000;
  --selectColor: #ffdd59;
  --hoverColor: #d2e0fb;
  --hue-color: 230;
  --menuColor: #555;
  --headerBg: #f3f4f6;
  --borderColor: #ddd;
  --menuTextSize: 18px;
  --tableBg: rgba(239, 245, 246, .6);
  --cardBg: rgba(0, 0, 0, 0.23);
  --paraSize:16px;
  --paraSize20:20px;
  --commonSubHead:24px;
  --commonHeadSize:48px;
  --fontFamily1:"Josefin Sans", sans-serif;
  --fontFamily2:"Open Sans", sans-serif;
  --headingFontFamily:"Josefin Sans", sans-serif;
  --letterSpace:1px;
}
/* html[data-theme='dark'] {
  --bgColor: hsl(var(--hue-color), 30%, 8%);
  --textColor: #fff;
  --parimeryColor: hsl(var(--hue-color), 28%, 12%);
  --selectColor: #352f44;
  --menuColor: #fff;
  --headerColor: #27374d;
  --hoverColor: #04364a;
  --borderColor: darkcyan;
} */
/* @media (prefers-color-scheme: dark) {
  :root{
    --bgColor: hsl(var(--hue-color), 30%, 8%);
    --textColor:#fff;
    --parimeryColor:hsl(var(--hue-color), 28%, 12%);
    --selectColor:#352F44;
    --menuColor:#fff;
    --headerColor:#27374D;
    --hoverColor:#04364A;
    --borderColor:darkcyan;
  }
} */

::selection {
  background-color: var(--selectColor);
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--textColor);
  background-color: var(--bgColor);
  scroll-behavior: smooth;
}
/* main{
  position: relative;
  z-index: 99;
} */

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: azure;
  z-index: 99;
}

#preloader img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
}

/* header */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--headerBg);
  border-bottom: 1.5px solid var(--borderColor);
}
img.logo {
  width: 48px;
}
.headerContainer {
  max-width: 1440px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul.menuList {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

li.menuItem {
  list-style: none;
}

li.menuItem a,
li.menuItem a:after,
li.menuItem a:before {
  transition: all 0.5s;
}

li.menuItem a:hover {
  color: var(--menuColor);
}
li.menuItem a {
  text-decoration: none;
  color: var(--textColor);
  font-family:var(--fontFamily1);
  letter-spacing: 1px;
  transition: all 300ms linear;
  font-weight: 400;
  font-size: var(--menuTextSize);
  position: relative;
}
li.menuItem a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 2px;
}
li.menuItem a:hover:after {
  width: 100%;
}

/* theme button */
input#theme {
  visibility: hidden;
}

label.themeLabel {
  width: 6rem;
  height: 3rem;
  display: inline-block;
  background: var(--textColor);
  position: relative;
  border-radius: 10rem;
  cursor: pointer;
}

.themeBall {
  position: absolute;
  border-radius: 50%;
  transform: translate(15px, 10px);
  display: inline-block;
  transition: all 0.2s linear;
  color: var(--bgColor);
}
input#theme:checked + label.themeLabel .themeBall {
  transform: translate(65px, 10px);
}
i.fa.fa-lightbulb-o {
  font-size: 28px;
}

/* mobile menu styling */
.mobileBtn i {
  font-size: 22px;
  cursor: pointer;
}
nav.navbar i.fa.fa-bars.menuOpen {
  display: none;
}

nav.navbar i.fa.fa-times.menuClose {
  display: none;
}

/* Scroll bar styling */

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
