@media (max-width: 1023px) {
  .profileFlex {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* navbar */
  ul.menuList {
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    padding: 15px 0;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -50%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: var(--hoverColor);
  }
  
  nav.navbar.mobileWidth ul.menuList {
    position: fixed;
    top: 80px;
    right: 0;
    width: 50%;
    opacity: 1;
    visibility: visible;
  }
 
  nav.navbar i.fa.fa-bars.menuOpen {
    display: block;
  }
  nav.navbar.mobileWidth i.fa.fa-bars.menuOpen {
    display: none;
  }
  
  nav.navbar.mobileWidth i.fa.fa-times.menuClose {
    display: block;
  }
  .profileFlex {
    flex-wrap: wrap;
  }
  .profileFlexItem {
    width: 100%;
    height: auto;
    gap: 10px;
  }
  h1.commonHeading {
    font-size: 36px;
  }
  .para {
    font-size: 14px;
    line-height: 26px;
  }
  p.profileCenterTxt {
    font-size: 16px;
  }
  .subHeading {
    font-size: 22px;
  }
}
@media (max-width: 496px) {
  .headerContainer {
    padding: 0 10px;
}
  /* profile section */
  .container {
    padding: 0px 10px;
  }
  .subHeading {
    font-size: 17px;
  }
  .para {
    font-size: 12px;
    line-height: 20px;
  }
  h1.commonHeading {
    font-size: 32px;
  }
  h3.commonMiniHead {
    font-size: 12px;
  }
  p.profileCenterTxt {
    font-size: 14px;
  }
  .profileFlex {
    padding: 7px 0 0 0;
  }
  .profileHeading {
    gap: 8px;
  }
  .profilePic img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
  }
  /* project section */
  section.commonSection {
    padding: 120px 0 0px 0;
  }
  section#projects {
    padding: 45px 0 45px 0;
}
  /* skill section */
  section#skill {
    padding: 45px 0 0 0;
  }
  .skillItem {
    width: 300px !important;
    height: inherit;
  }
}
