@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
section {
  background-color: #fff;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
div#preloader div#status {
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
}
header#headers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
nav#nav {
  display: flex;
  align-items: center;
  gap: 62px;
  height: 97px;
}
.nav-custom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: all 400ms ease-in-out;
}
.navbar-contact {
  display: flex;
  gap: 63px;
}
.navbar-contact p {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.65px;
  color: #0c1331;
  margin-top: 10px;
}
.btn-general {
  width: 144px;
  height: 39px;
  background: #132eb1;
  color: #fff;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.324351px;
  outline: none !important;
  border: none !important;
  cursor: pointer;
}

.navlinks {
  display: flex;
  gap: 39px;
}
.navlinks button {
  background-color: #fff;
  color: #0c1331;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
  color: #0c1331;
  line-height: 97px;
  letter-spacing: 0.6px;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  padding: 0 15px;
}
.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #0c1331;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.6px;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.dropdown-content a span {
  position: absolute;
  top: 23px;
  left: 70px;
}
.mobile-menu {
  display: none;
}
.mobile-menu i {
  font-size: 30px;
}
i#open {
  display: none;
  cursor: pointer;
}
i#close {
  display: none;
  cursor: pointer;
}
